# Python Learning Resources

## Official Python Tutorial
The official Python documentation tutorial. It's a great place to start learning Python from scratch, covering all the basics and more.  
[Official Python Tutorial](https://docs.python.org/3/tutorial/index.html)

## 60 Days of Python - YouTube Playlist
A comprehensive YouTube playlist designed to teach you Python in 60 days, covering various topics and projects to build your skills.  
[60 Days of Python - YouTube Playlist](https://www.youtube.com/playlist?list=PLKdU0fuY4OFf7qj4eoBtvALAB_Ml2rN0V)

## 60 Days of Python - GitHub Repository
The GitHub repository for the 60 Days of Python series. It includes all the code and resources used in the YouTube playlist.  
[60 Days of Python - GitHub Repository](https://github.com/rashakil-ds/60-Days-of-Python-by-Study-Mart-AI-QUEST)

## Python Notes for Professionals - PDF
A free PDF book that offers a wide range of Python notes for professionals. It's a useful reference guide for both beginners and advanced users.  
[Python Notes for Professionals - PDF](https://github.com/rashakil-ds/Top-Data-Science-AI-Book-Collection/blob/main/Books/Python%20Notes%20For%20Professionals.pdf)

---------------------------------------------------------------------------------------------------------------------

# Break and Continue Statements in Python

## Break Statement

The `break` statement is used to exit a loop prematurely when a certain condition is met.

### Example of Break Statement
```python
for i in range(10):
    if i == 5:
        break
    print(i)

In [1]:
for i in range(10): # default (0, 10-1, 1)
    if i == 5:
        break # stop
    print(i)

0
1
2
3
4

In [2]:
for i in range(1,10000):
    if i%2==0: # 1 is odd number
        break
    print(i)

1

In [3]:
data = ['a','b','d','r']

for x in data:
    if x=='d':
        continue #skip
        
    print(x)

In [4]:
data = ['a','b','d','r']

for x in data:
    if x=='d':
        break
        
    print(x)

a
b

# Continue Statement in Python

The `continue` statement in Python is used to skip the current iteration of a loop and proceed to the next iteration. This can be useful when you want to skip certain values or conditions within a loop without terminating the entire loop.

## Syntax

The syntax of the `continue` statement is simple:

```python
continue

## Example:-
for i in range(10):
    if i % 2 == 0:
        continue
    print(i)

Break -> Stop <br>
Continue -> Skip

---------------------------------------------------------------------------------------------------------------------------

# Data Structures in Python

Python provides several `built-in` data structures to store and manage data efficiently. These data structures include lists, tuples, dictionaries, sets, and more. Each data structure has unique properties and methods, making them suitable for different types of applications.

### Type of Data Structures in Python

- String
- List
- Tuple
- Set
- Dictionary

# 1. Lists in Python

A list is an ordered, changeable, mutable collection of elements. It also allowed duplicates. Lists can contain elements of different types.

### Example:
```python
dept = ["ai", "ds", "da", "nlp"]
print(dept)

In [5]:
dept = ["ai", "ds", "da", "nlp"]
print(dept)

['ai', 'ds', 'da', 'nlp']

In [6]:
type(dept)

list

In [7]:
dept = ["ai", "ds", "da", "nlp",1,2,3,4,(2,3,4),True,False,{1,2}]
print(dept)

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, (2, 3, 4), True, False, {1, 2}]

In [8]:
dept

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, (2, 3, 4), True, False, {1, 2}]

In [9]:
dept[0]

'ai'

In [10]:
dept[10]

False

In [11]:
dept[-1]

{1, 2}

In [13]:
dept[-4]

(2, 3, 4)

In [15]:
dept[-4][1]

3

In [16]:
dept[2:7]

['da', 'nlp', 1, 2, 3]

In [17]:
import sys
sys.getsizeof(dept)

152

# Common List Methods in Python

In Python, lists are versatile and come with a variety of built-in methods to manipulate and manage the elements they contain. Below are some common list methods illustrated with the example list `dept = ["ai", "ds", "da", "nlp"]`.

```python
dept = ["ai", "ds", "da", "nlp"] <br>
print(dept)

### Common List Methods:

- `append()`
- `insert()`
- `remove()`
- `pop()`
- `clear()`
- `index()`
- `count()`
- `sort()`
- `reverse()`
- `copy()`

dept = ["ai", "ds", "da", "nlp"] <br>
print(dept) <br>
Output: ['ai', 'ds', 'da', 'nlp']

# Append
dept.append("cv") <br>
print(dept) <br> 
Output: ['ai', 'ds', 'da', 'nlp', 'cv']

# Insert
dept.insert(1, "ml") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'ds', 'da', 'nlp', 'cv']

# Remove
dept.remove("ds") <br>
print(dept)  <br>
Output: ['ai', 'ml', 'da', 'nlp', 'cv']

# Pop
removed_element = dept.pop(2) <br>
print(removed_element)  <br>
Output: 'da' <br>
print(dept)  <br>
Output: ['ai', 'ml', 'nlp', 'cv']

# Clear
dept.clear() <br>
print(dept)  <br>
Output: []

# Reinitialize
dept = ["ai", "ds", "da", "nlp"]

# Index
index_ds = dept.index("ds") <br>
print(index_ds)  <br>
Output: 1

# Count
count_ai = dept.count("ai") <br>
print(count_ai)  <br>
Output: 1

# Sort
dept.sort() <br>
print(dept)  <br>
Output: ['ai', 'da', 'ds', 'nlp']

# Reverse
dept.reverse() <br>
print(dept)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Copy
dept_copy = dept.copy() <br>
print(dept_copy)  <br>
Output: ['nlp', 'ds', 'da', 'ai']

# Let's practice list methods

In [18]:
x = ['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [19]:
x.append('Rasel Sarker')

In [20]:
x

['ai',
 'ds',
 'da',
 'nlp',
 1,
 2,
 3,
 4,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 'Rasel Sarker']

In [21]:
x.insert(7,'Study Mart')

In [22]:
x[7]

'Study Mart'

In [23]:
x

['ai',
 'ds',
 'da',
 'nlp',
 1,
 2,
 3,
 'Study Mart',
 4,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 'Rasel Sarker']

In [25]:
x.remove('Study Mart') # value

In [26]:
x

['ai',
 'ds',
 'da',
 'nlp',
 1,
 2,
 3,
 4,
 True,
 False,
 [1, 2, 3],
 {1, 2, 3},
 'Rasel Sarker']

In [27]:
x.pop(-1)

'Rasel Sarker'

In [28]:
x

['ai', 'ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [29]:
del x[0]

In [30]:
x

['ds', 'da', 'nlp', 1, 2, 3, 4, True, False, [1, 2, 3], {1, 2, 3}]

In [31]:
x.reverse()

In [32]:
x

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds']

In [33]:
x.append(4) # allowed duplicate

In [34]:
x

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4]

In [35]:
x.count(4)

2

In [37]:
n=[12,4,10,33]

In [38]:
n.sort()

In [39]:
n

[4, 10, 12, 33]

# Copy

In [40]:
x

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4]

In [41]:
y = x
y

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4]

In [42]:
y

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4]

In [43]:
y.append(4)

In [44]:
y

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4]

In [45]:
y.count(4)

3

In [46]:
x

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4]

In [47]:
x.count(4)

3

In [48]:
z = x.copy()
z

[{1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4]

In [49]:
z.pop(-1)

4

In [50]:
z.count(4)

2

In [51]:
x.count(4)

3

In [ ]:
df2 = df.copy()

# 2. Tuples in Python

A tuple is an ordered, immutable collection of elements in Python. Tuples can contain elements of different types and are often used to group related data. Once a tuple is created, its elements cannot be changed.

## Creating Tuples

Tuples can be created by placing a comma-separated sequence of elements inside parentheses.

### Example:
```python
# Creating a tuple
coordinates = (10.0, 20.0)
print(coordinates)  # Output: (10.0, 20.0)

# Creating a tuple without parentheses (not recommended but valid)
coordinates = 10.0, 20.0
print(coordinates)  # Output: (10.0, 20.0)

In [52]:
t = 10, 20

In [53]:
type(t)

tuple

In [55]:
t,l,k = 10, 20,30

In [56]:
t

10

In [57]:
t = ({1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4)

In [58]:
t

({1, 2, 3}, [1, 2, 3], False, True, 4, 3, 2, 1, 'nlp', 'da', 'ds', 4, 4)

In [59]:
type(t)

tuple

In [60]:
type(list(t))

list

In [62]:
print(sys.getsizeof(t)) #tuple
print(sys.getsizeof(list(t)))

144
160

In [63]:
t.append(100)

AttributeError: 'tuple' object has no attribute 'append'

In [64]:
del t[2]

TypeError: 'tuple' object doesn't support item deletion

In [65]:
t2 = (1,3,4)

In [66]:
t = t+t2

In [67]:
t

({1, 2, 3},
 [1, 2, 3],
 False,
 True,
 4,
 3,
 2,
 1,
 'nlp',
 'da',
 'ds',
 4,
 4,
 1,
 3,
 4)

# Tuple Slicing in Python

Tuples in Python are immutable sequences, typically used to store collections of heterogeneous data. Slicing is a technique used to retrieve a subset of elements from a tuple. It is similar to slicing in lists and strings.

## Basic Syntax

The syntax for slicing a tuple is as follows:

```python
tuple[start:stop:step]

In [69]:
t2 = (2,3,4,5,76,8,9,0,10)

In [70]:
t2[0:4]

(2, 3, 4, 5)

In [71]:
t2[5:]

(8, 9, 0, 10)

In [73]:
t2[0:4] + t2[5:] 
t2 = t2[0:4] + t2[5:]

In [74]:
t2

(2, 3, 4, 5, 8, 9, 0, 10)

In [75]:
t2.index(5)

3

In [76]:
t2.count(3)

1

In [79]:
t2 = (2, 3, 4, 5, 8, 9, 0, 10,10)
t2

(2, 3, 4, 5, 8, 9, 0, 10, 10)

# 3. Sets in Python

A set is an `unordered` collection of unique elements in Python. Sets are mutable, meaning you can add or remove elements, but they do not allow duplicate values.

## Creating Sets

Sets can be created using curly braces `{}` or the `set()` function.

### Example:
```python
# Creating a set with curly braces
dep = {"ai", "ml", "ds"}
print(dep)  # Output: {"ai", "ml", "ds"}

# Creating a set with the set() function
numbers = set([1, 2, 3, 4, 5])
print(numbers)  # Output: {1, 2, 3, 4, 5}

# Creating an empty set
empty_set = set()
print(empty_set)  # Output: set()

In [84]:
s1 = {1,2,3}
s2 = {3,4,5}

In [86]:
s1

{1, 2, 3}

In [87]:
s2

{3, 4, 5}

In [88]:
s1.union(s2)

{1, 2, 3, 4, 5}

In [89]:
s1.intersection(s2)

{3}

In [90]:
s1.difference(s2)

{1, 2}

In [91]:
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [92]:
s2.difference(s1)

{4, 5}

In [93]:
s1 | s2 #union

{1, 2, 3, 4, 5}

In [94]:
s1 & s2 #intersection

{3}

# Set Methods

In [95]:
s1

{1, 2, 3}

In [96]:
s1.add(10)

In [97]:
s1

{1, 2, 3, 10}

In [ ]:
s1

In [98]:
s1.remove(1) #index na kintu ; eta value

In [99]:
s1[0] #unordered

TypeError: 'set' object is not subscriptable

# 4. Frozen Sets in Python

A `frozenset` is an `immutable version` of a set. Once created, elements cannot be added or removed from a `frozenset`. This makes `frozenset` hashable and eligible to be used as keys in dictionaries or elements of other sets.

## Creating Frozen Sets

Frozen sets can be created using the `frozenset()` function.

### Example:
```python
# Creating a frozenset
frozen_fruits = frozenset(["ai", "ds", "ml"])
print(frozen_fruits)  # Output: frozenset({"ai", "ds", "ml"})

In [101]:
frozen_fruits = frozenset(["ai", "ds", "ml"])
frozen_fruits

frozenset({'ai', 'ds', 'ml'})

In [103]:
type(frozen_fruits)

frozenset

In [104]:
frozen_fruits.add('me')

AttributeError: 'frozenset' object has no attribute 'add'

In [105]:
frozen_fruits.remove('me')

AttributeError: 'frozenset' object has no attribute 'remove'

In [106]:
s1

{2, 3, 10}

In [107]:
s1.remove(2)

In [108]:
s1

{3, 10}

In [109]:
s1.remove(2) # ogni porikkha

KeyError: 2

In [111]:
s1.discard(3)

In [112]:
s1

{10}

In [113]:
s1.discard(3) # jodi thake tahole delete korbe r jodi na thake tahole ghumai jabe
s1

{10}

# 5. Dictionaries in Python

A dictionary is an unordered collection of key-value pairs. Keys must be unique and immutable (such as strings, numbers, or tuples), while values can be of any data type.

## Creating Dictionaries

Dictionaries can be created using curly braces `{}` with key-value pairs or the `dict()` function.

### Example:
```python
# Creating a dictionary using curly braces
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}
print(person)  # Output: {'name': 'Shakil', 'age': 27, 'city': 'Munich'}

# Creating a dictionary using the dict() function
person = dict(name="Shakil", age=28, city="Erlangen")
print(person)  # Output: {'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

In [114]:
# Creating a dictionary using curly braces
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

print(person)  # Output: {'name': 'Shakil', 'age': 27, 'city': 'Munich'}

# Creating a dictionary using the dict() function
person = dict(name="Shakil", age=28, city="Erlangen")
print(person)  # Output: {'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

{'name': 'Shakil', 'age': 27, 'city': 'Munich'}
{'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

In [115]:
person # dict

{'name': 'Shakil', 'age': 28, 'city': 'Erlangen'}

In [116]:
type(person)

dict

In [117]:
person.keys()

dict_keys(['name', 'age', 'city'])

In [118]:
person.values()

dict_values(['Shakil', 28, 'Erlangen'])

In [122]:
person = { 
    "name": ["Shakil", 'Opu'], 
    "age": [27, 30], 
    "city": ["Munich", 'Bayern'], 
    "Occu": ['Engineer','Rider'] 
}

In [123]:
person

{'name': ['Shakil', 'Opu'],
 'age': [27, 30],
 'city': ['Munich', 'Bayern'],
 'Occu': ['Engineer', 'Rider']}

# User Input of Dictionary

In [127]:
d = {}
n = int(input())

for k in range(n):
    keys = input()
    value = int(input())
    d[keys] = value

print(d)

2
num1
10
num2
300
{'num1': 10, 'num2': 300}

In [126]:
d.keys()

dict_keys(['a', 'b'])

# List Comprehension: Elegant Way to Create Lists

List comprehension provides a concise way to create lists in Python. It consists of brackets containing an expression followed by a `for` clause, and optionally `if` clauses. List comprehensions are a more compact and readable alternative to using loops for creating lists.

## Basic Syntax

```python
[expression for item in iterable if condition]

## Components
1. expression: The expression is the value or operation that is applied to each element. <br>
2. item: The variable that takes the value of the item inside the iterable. <br>
3. iterable: A collection of elements (e.g., list, tuple, string) to iterate over. <br>
4. condition (optional): A condition to filter items from the iterable.

squares = [x**2 for x in range(10)] <br>
print(squares) <br>
Output: [0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [128]:
for i in range(1,10): 
    if i%2==0:  
        continue 
    print(i)

1
3
5
7
9

In [130]:
[i for i in range(10) if i%2!=0]

[1, 3, 5, 7, 9]

In [131]:
squares = [x**2 for x in range(10)]
squares

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [132]:
squares = [x+5 for x in range(10)]
squares

[5, 6, 7, 8, 9, 10, 11, 12, 13, 14]

In [133]:
squares = [print(x+5) for x in range(10)]
squares

5
6
7
8
9
10
11
12
13
14

[None, None, None, None, None, None, None, None, None, None]

In [134]:
squares = [print(x+5) for x in range(10)]

5
6
7
8
9
10
11
12
13
14

In [135]:
squares

[None, None, None, None, None, None, None, None, None, None]

# Tuple Comprehension in Python

Although Python does not support tuple comprehensions directly, you can achieve similar functionality using generator expressions or by converting a list comprehension to a tuple.

## Generator
A generator in Python is a special type of `iterable` that allows you to iterate over a sequence of values. Unlike lists, which store all values in memory, a generator computes each value on the fly and yields it one at a time, which makes it more memory efficient, especially for large datasets. <br>

#Generator expression to generate squares of even numbers from 0 to 9 <br>
even_squares = (x**2 for x in range(10) if x % 2 == 0)

## Using Generator Expressions

A generator expression is similar to a list comprehension, but it uses parentheses `()` instead of square brackets `[]`. It generates items one by one and is more memory efficient than a list comprehension.

### Example:
```python
# Generator expression
gen_expr = (x**2 for x in range(10))

# Converting generator expression to tuple
tuple_from_gen_expr = tuple(gen_expr)
print(tuple_from_gen_expr)
# Output: (0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [137]:
li = [x**2 for x in range(10)]
li

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [138]:
gen_expr = (x**2 for x in range(10))
gen_expr

In [139]:
tuple(gen_expr)

(0, 1, 4, 9, 16, 25, 36, 49, 64, 81)

In [145]:
print(sys.getsizeof(li))
print(sys.getsizeof(tuple(gen_expr)))

184
40

In [147]:
print(sys.getsizeof(tuple(li)))

120

# Working with Pandas DataFrame

In this example, we will create a Pandas DataFrame using the dictionary:
```python
person = {
    "name": "Shakil",
    "age": 27,
    "city": "Munich"
}

[Must Download This Book](https://github.com/rashakil-ds/Top-Data-Science-AI-Book-Collection/blob/main/Books/Master%20Data%20Science%20and%20Data%20Analysis%20with%20Pandas.pdf)

[Watch This Video](https://www.youtube.com/playlist?list=PLKdU0fuY4OFdsmcM817qp1L3ngU5amkak)

#!pip install library_name <br>
#!pip install pandas

In [155]:
!pip install pandas

Requirement already satisfied: pandas in c:\users\rashe\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: numpy>=1.18.5 in c:\users\rashe\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: six>=1.5 in c:\users\rashe\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

WARNING: Ignoring invalid distribution -rotobuf (c:\users\rashe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rashe\anaconda3\lib\site-packages)
WARNING: Ignoring invalid distribution -rotobuf (c:\users\rashe\anaconda3\lib\site-packages)

In [156]:
import pandas as pd

In [157]:
people = [
    ["Shakil", 27, "Munich"],
    ["ABC", 25, "Berlin"],
    ["DEF", 30, "Hamburg"],
    ["JKL", 35, "Munich"]
]

In [158]:
people

[['Shakil', 27, 'Munich'],
 ['ABC', 25, 'Berlin'],
 ['DEF', 30, 'Hamburg'],
 ['JKL', 35, 'Munich']]

In [162]:
df = pd.DataFrame(people, columns=['name','age','city'])

In [163]:
df

     name  age     city
0  Shakil   27   Munich
1     ABC   25   Berlin
2     DEF   30  Hamburg
3     JKL   35   Munich

# dictionary

In [165]:
person = {
    "name": ["Shakil","ABC"],
    "age": [27, 30],
    "city": ["Munich", 'Berlin']
}

In [168]:
df = pd.DataFrame(person)

In [169]:
df

     name  age    city
0  Shakil   27  Munich
1     ABC   30  Berlin

In [170]:
df.drop(['city'], axis=1)

     name  age
0  Shakil   27
1     ABC   30

In [173]:
df.drop(['city'], axis='columns')

     name  age
0  Shakil   27
1     ABC   30

In [174]:
df

     name  age    city
0  Shakil   27  Munich
1     ABC   30  Berlin

In [175]:
# df = df.drop(['city'], axis='columns')
df.drop(['city'], axis='columns', inplace=False)

     name  age
0  Shakil   27
1     ABC   30

In [176]:
df

     name  age    city
0  Shakil   27  Munich
1     ABC   30  Berlin

In [177]:
# df = df.drop(['city'], axis='columns')
df.drop(['city'], axis='columns', inplace=True)

In [178]:
df

     name  age
0  Shakil   27
1     ABC   30

In [179]:
df = df.drop(['age'], axis='columns') #column delete

In [180]:
df

     name
0  Shakil
1     ABC

In [181]:
df.drop([0]) # row delete

  name
1  ABC